MONGODB_URI=mongodb+srv://michaelvictoria0422873:mikevicky@cluster0.huaqebn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=2646365f5dfef1a43f7b02c23c5d3c05661b605d31cee70c8e8b125c36a
ae2ac
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=chiamakamichael58@gmail.com
EMAIL_PASS=sgwwylamnszcmkjq